*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

header h1 {
    color: red;
    border: 4px solid red;
    padding: 0.5rem 1rem;
    border-radius: 35px;
}

.all-pokemon-container {
    display: grid;
    gap: 1.2rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust column size */
    justify-items: center;
}

.pokemon-card {
    cursor: pointer;
    width: 282px;
    margin: 1rem;
    border-radius: 11px;
    padding: 0.5rem;
    box-shadow: 0px 5px 15px rgb(15, 15, 15, 0.8);
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
  }
  
  .pokemon-card:hover .card-content {
      transform: scale(1.05); /* Scale content on hover */
  }
  
  .pokemon-card img {
    width: 149px;
    align-self: center;
    border-radius: 20px;
  }
  
  .pokemon-card .pokemon-hp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.4rem;
    gap: 0.3rem;
  }
  
  .pokemon-hp h1 {
    font-size: 1rem;
  }
  
  .pokemon-hp span {
    font-size: 1.4rem;
  }
  
  .pokemon-card .pokemon-name {
    display: flex;
    justify-content: center;
  }
  
  .pokemon-name h1 {
    font-size: 1.3rem;
  }
  
  .type {
    gap: 1rem;
    display: flex;
    justify-content: center;
  }
  .stats {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    margin-bottom: 0.6rem;
  }
  .stats h1 {
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
  }
  .stats p {
    color: #424040
  }